extends ../layout

block content
  p Welcome #{firstName}! A confirmation request has been sent to your email at #{email}.
  p Please click the link in the email we sent you to verify your email address.