//- session-nav
.pull-right
  ul.nav
    if typeof user !== "undefined"
      li
        a(href="#")= user.name
      li
        a(href="#") Settings
      li
        a(href="#") Logout
    else
      li
        a(href="#") Signup
      li
        a(href="#") Login
//- end session-nav