extends ../forgot-password/forgot-password

prepend content
  h1
    | URL Expired
  | The URL you are trying to visit has expired and no longer exists.
  p
    | If you are trying to reset your password please fill out the form below.