extends ../../layout
include ../../mixins/form-helpers

block content
  h1
    | Reset Your Password
  p
    | Enter a new password for your account.
  form(action="/reset-password", method="post")
    mixin field('password', 'password', 'Password')
    input(type='hidden', name='token', value=token)
    input(type='hidden', name='email', value=email)
    input(type="submit", value="Submit", class="btn btn-primary")