extends ../../layout

block content
  h1
    | URL No Longer Exists
  p
    | The URL you are trying to visit no longer exists.
    | If you are trying to reset your password make sure you have the correct URL from the email we sent you.