extends login

block alert
  p
    | Your account has not been activated. Please click the activation link in the email we sent you.
  p
    | Lost the email? 
    a(href="auth/resend-activation-email") Send it again!