extends ../../layout
include ../../mixins/form-helpers

block content
  block alert
  form.forgot-password.pull-right(action="/forgot-password", method="post")
    mixin field('email', 'email', 'Email', true)
    input(type="submit", value="Submit", class="btn btn-primary")
  h1
    | Reset your password
  h2
    | Enter your email address to reset your password. You may need to check your spam folder or unblock no-reply@sn.com.